<!DOCTYPE html>
<html lang="en">

<head>
   
    <meta charset="UTF-8">
    <title>Boogle_KK</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <meta name="description" content="Google by me">
    <meta name="keywords" content="Boogle, search">
    <meta name="autor" content="Katja_Kenda">
</head>
 

<body>
  <!-- header --> 
   <div class="header">
     <a href="https://accounts.google.com/ServiceLogin?sacu=1&scc=1&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&hl=en-GB&osid=1&service=mail&ss=1&ltmpl=default&rm=false#identifier">Gmail</a>
    <a href="https://www.google.co.uk/imghp?hl=en&tab=wi&ei=FF8AVrrPBYqvsQHp-ZuoBQ&ved=0CBQQqi4oAQ">Images</a>
    <a href="https://accounts.google.com/ServiceLogin?sacu=1&continue=https%3A%2F%2Fwww.google.co.uk%2Fimghp%3Fhl%3Den%26tab%3Dwi%26ei%3DFF8AVrrPBYqvsQHp-ZuoBQ%26ved%3D0CBQQqi4oAQ&hl=en#identifier">Sign In</a>
 <!-- Ikona za aplikacije <img src=img.jpg> -->
    </div>


    
  <!-- center -->
   
    <div class="container">
        <h1><span style= "color:springgreen">B</span><span style= "color:yellow">o</span><span style= "color:yellow">o</span><span style= "color:springgreen">g</span><span style= "color:yellow">l</span><span style= "color:springgreen">e</span></h1>
        <h4>Booglandia</h4>
        </div>
        
    <div id="search">Search me...</div>
    
    <div class="container2" id="boogleknowsit">Boogle knows it</div>
    <div class="container2" id="luckyboogle">Lucky Boogle</div>

    
<!-- footer -->
    <div class="footer_l">
        <div id="advertising"><a href="https://www.google.co.uk/intl/en/ads/?fg=1">Advertising</a></div>
            <div id="business"><a href="https://www.google.co.uk/services/?fg=1">Business</a></div> 
        <div id="about"><a href="https://www.google.co.uk/intl/en/about/">About</a></div>
    </div>
    
    <div class="footer_r">
        <div id="privacy"><a href="https://www.google.co.uk/intl/en/policies/privacy/?fg=1">Privacy</a></div>
        <div id="terms"><a href="https://www.google.co.uk/intl/en/policies/terms/regional.html">Terms</a></div> 
        <div id="settings"><a href="https://www.google.co.uk/preferences?hl=en-GB&fg=1">Settings</a></div>
    </div>   

    
</body>                                        
                                        